Docs/INFO_SRC
*.out
*.DS_Store
.vscode/
CMakeCache.txt
CMakeFiles/*
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
Docs/INFO_BIN
Makefile
client/CMakeFiles/*
client/CTestTestfile.cmake
client/Makefile
client/cmake_install.cmake
client/error.sql
client/mariadb
client/mariadb-dump
client/mariadb-import
client/mariadb-test
client/mysqldump
client/mysqlimport
client/mysqltest
client/obclient
cmake_install.cmake
dbug/CMakeFiles/*
dbug/CTestTestfile.cmake
dbug/Makefile
dbug/cmake_install.cmake
dbug/dbug-t
dbug/example1.r
dbug/example2.r
dbug/example3.r
dbug/factorial
dbug/factorial.r
dbug/libdbug.a
dbug/main.r
dbug/output1.r
dbug/output2.r
dbug/output3.r
dbug/output4.r
dbug/output5.r
dbug/tests
dbug/user.ps
dbug/user.t
extra/CMakeFiles/*
extra/CTestTestfile.cmake
extra/Makefile
extra/aws_sdk/CMakeFiles/*
extra/aws_sdk/CTestTestfile.cmake
extra/aws_sdk/Makefile
extra/aws_sdk/cmake_install.cmake
extra/cmake_install.cmake
extra/comp_err
extra/mariadb-waitpid
extra/my_print_defaults
extra/mysql_waitpid
extra/mysqld_safe_helper
extra/perror
extra/readline/CMakeFiles/*
extra/readline/Makefile
extra/readline/cmake_install.cmake
extra/readline/libreadline.a
extra/replace
extra/resolve_stack_dump
extra/resolveip
import_executables.cmake
include/CMakeFiles/*
include/CTestTestfile.cmake
include/Makefile
include/cmake_install.cmake
include/config.h
include/my_config.h
include/mysqld_ername.h.tmp
include/mysqld_error.h.tmp
include/probes_mysql_nodtrace.h
include/source_revision.h
include/sql_state.h.tmp
info_macros.cmake
libservices/CMakeFiles/*
libservices/CTestTestfile.cmake
libservices/Makefile
libservices/cmake_install.cmake
libservices/libmysqlservices.a
man/CMakeFiles/*
man/CTestTestfile.cmake
man/Makefile
man/cmake_install.cmake
mysys/CMakeFiles/*
mysys/CTestTestfile.cmake
mysys/Makefile
mysys/cmake_install.cmake
mysys/libmysys.a
mysys/test_hash
mysys/thr_lock
mysys/thr_timer
mysys_ssl/CMakeFiles/*
mysys_ssl/CTestTestfile.cmake
mysys_ssl/Makefile
mysys_ssl/cmake_install.cmake
mysys_ssl/libmysys_ssl.a
pcre/CMakeFiles/*
pcre/CTestCustom.ctest
pcre/CTestTestfile.cmake
pcre/Makefile
pcre/cmake_install.cmake
pcre/libpcre.a
pcre/libpcreposix.a
pcre/pcregrep
pcre/pcretest
plugin/audit_null/CMakeFiles/*
plugin/audit_null/CTestTestfile.cmake
plugin/audit_null/Makefile
plugin/audit_null/cmake_install.cmake
plugin/auth_dialog/CMakeFiles/*
plugin/auth_dialog/CTestTestfile.cmake
plugin/auth_dialog/Makefile
plugin/auth_dialog/cmake_install.cmake
plugin/auth_ed25519/CMakeFiles/*
plugin/auth_ed25519/CTestTestfile.cmake
plugin/auth_ed25519/Makefile
plugin/auth_ed25519/cmake_install.cmake
plugin/auth_ed25519/ed25519-t
plugin/auth_ed25519/libref10.a
plugin/auth_examples/CMakeFiles/*
plugin/auth_examples/CTestTestfile.cmake
plugin/auth_examples/Makefile
plugin/auth_examples/cmake_install.cmake
plugin/auth_gssapi/CMakeFiles/*
plugin/auth_gssapi/CTestTestfile.cmake
plugin/auth_gssapi/Makefile
plugin/auth_gssapi/cmake_install.cmake
plugin/auth_pam/CMakeFiles/*
plugin/auth_pam/CTestTestfile.cmake
plugin/auth_pam/Makefile
plugin/auth_pam/cmake_install.cmake
plugin/auth_pam/config_auth_pam.h
plugin/auth_pipe/CMakeFiles/*
plugin/auth_pipe/CTestTestfile.cmake
plugin/auth_pipe/Makefile
plugin/auth_pipe/cmake_install.cmake
plugin/auth_socket/CMakeFiles/*
plugin/auth_socket/CTestTestfile.cmake
plugin/auth_socket/Makefile
plugin/auth_socket/cmake_install.cmake
plugin/aws_key_management/CMakeFiles/*
plugin/aws_key_management/CTestTestfile.cmake
plugin/aws_key_management/Makefile
plugin/aws_key_management/cmake_install.cmake
plugin/cracklib_password_check/CMakeFiles/*
plugin/cracklib_password_check/CTestTestfile.cmake
plugin/cracklib_password_check/Makefile
plugin/cracklib_password_check/cmake_install.cmake
plugin/daemon_example/CMakeFiles/*
plugin/daemon_example/CTestTestfile.cmake
plugin/daemon_example/Makefile
plugin/daemon_example/cmake_install.cmake
plugin/debug_key_management/CMakeFiles/*
plugin/debug_key_management/CTestTestfile.cmake
plugin/debug_key_management/Makefile
plugin/debug_key_management/cmake_install.cmake
plugin/disks/CMakeFiles/*
plugin/disks/CTestTestfile.cmake
plugin/disks/Makefile
plugin/disks/cmake_install.cmake
plugin/example_key_management/CMakeFiles/*
plugin/example_key_management/CTestTestfile.cmake
plugin/example_key_management/Makefile
plugin/example_key_management/cmake_install.cmake
plugin/feedback/CMakeFiles/*
plugin/feedback/CTestTestfile.cmake
plugin/feedback/Makefile
plugin/feedback/cmake_install.cmake
plugin/file_key_management/CMakeFiles/*
plugin/file_key_management/CTestTestfile.cmake
plugin/file_key_management/Makefile
plugin/file_key_management/cmake_install.cmake
plugin/fulltext/CMakeFiles/*
plugin/fulltext/CTestTestfile.cmake
plugin/fulltext/Makefile
plugin/fulltext/cmake_install.cmake
plugin/handler_socket/CMakeFiles/*
plugin/handler_socket/CTestTestfile.cmake
plugin/handler_socket/Makefile
plugin/handler_socket/cmake_install.cmake
plugin/locale_info/CMakeFiles/*
plugin/locale_info/CTestTestfile.cmake
plugin/locale_info/Makefile
plugin/locale_info/cmake_install.cmake
plugin/metadata_lock_info/CMakeFiles/*
plugin/metadata_lock_info/CTestTestfile.cmake
plugin/metadata_lock_info/Makefile
plugin/metadata_lock_info/cmake_install.cmake
plugin/qc_info/CMakeFiles/*
plugin/qc_info/CTestTestfile.cmake
plugin/qc_info/Makefile
plugin/qc_info/cmake_install.cmake
plugin/query_response_time/CMakeFiles/*
plugin/query_response_time/CTestTestfile.cmake
plugin/query_response_time/Makefile
plugin/query_response_time/cmake_install.cmake
plugin/server_audit/CMakeFiles/*
plugin/server_audit/CTestTestfile.cmake
plugin/server_audit/Makefile
plugin/server_audit/cmake_install.cmake
plugin/simple_password_check/CMakeFiles/*
plugin/simple_password_check/CTestTestfile.cmake
plugin/simple_password_check/Makefile
plugin/simple_password_check/cmake_install.cmake
plugin/sql_errlog/CMakeFiles/*
plugin/sql_errlog/CTestTestfile.cmake
plugin/sql_errlog/Makefile
plugin/sql_errlog/cmake_install.cmake
plugin/user_variables/CMakeFiles/*
plugin/user_variables/CTestTestfile.cmake
plugin/user_variables/Makefile
plugin/user_variables/cmake_install.cmake
plugin/userstat/CMakeFiles/*
plugin/userstat/CTestTestfile.cmake
plugin/userstat/Makefile
plugin/userstat/cmake_install.cmake
plugin/versioning/CMakeFiles/*
plugin/versioning/CTestTestfile.cmake
plugin/versioning/Makefile
plugin/versioning/cmake_install.cmake
plugin/win_auth_client/CMakeFiles/*
plugin/win_auth_client/CTestTestfile.cmake
plugin/win_auth_client/Makefile
plugin/win_auth_client/cmake_install.cmake
plugin/wsrep_info/CMakeFiles/*
plugin/wsrep_info/CTestTestfile.cmake
plugin/wsrep_info/Makefile
plugin/wsrep_info/cmake_install.cmake
rpm/.dep_create
scripts/CMakeFiles/*
scripts/CTestTestfile.cmake
scripts/Makefile
scripts/cmake_install.cmake
scripts/comp_sql
scripts/make_binary_distribution
scripts/mariadb-access
scripts/mariadb-find-rows
scripts/mysql_config
scripts/mysql_config.pl
scripts/mysql_fix_privilege_tables.sql
scripts/mysql_fix_privilege_tables_sql.c
scripts/mysql_secure_installation
scripts/mysqlaccess
scripts/mysqlhotcopy
scripts/mytop
sql/share/CMakeFiles/*
sql/share/CTestTestfile.cmake
sql/share/Makefile
sql/share/bulgarian/*
sql/share/cmake_install.cmake
sql/share/czech/*
sql/share/danish/*
sql/share/dutch/*
sql/share/english/*
sql/share/estonian/*
sql/share/french/*
sql/share/german/*
sql/share/greek/*
sql/share/hindi/*
sql/share/hungarian/*
sql/share/italian/*
sql/share/japanese/*
sql/share/korean/*
sql/share/norwegian-ny/*
sql/share/norwegian/*
sql/share/polish/*
sql/share/portuguese/*
sql/share/romanian/*
sql/share/russian/*
sql/share/serbian/*
sql/share/slovak/*
sql/share/spanish/*
sql/share/swedish/*
sql/share/ukrainian/*
sql/sql_builtin.cc
strings/CMakeFiles/*
strings/CTestTestfile.cmake
strings/Makefile
strings/cmake_install.cmake
strings/libstrings.a
support-files/CMakeFiles/*
support-files/CTestTestfile.cmake
support-files/Makefile
support-files/cmake_install.cmake
support-files/mariadb.pc
support-files/mariadb.pp
support-files/wsrep_notify
unittest/examples/CMakeFiles/*
unittest/examples/CTestTestfile.cmake
unittest/examples/Makefile
unittest/examples/cmake_install.cmake
unittest/examples/no_plan-t
unittest/examples/simple-t
unittest/examples/skip-t
unittest/examples/skip_all-t
unittest/examples/todo-t
unittest/json_lib/CMakeFiles/*
unittest/json_lib/CTestTestfile.cmake
unittest/json_lib/Makefile
unittest/json_lib/cmake_install.cmake
unittest/json_lib/json_lib-t
unittest/my_decimal/CMakeFiles/*
unittest/my_decimal/CTestTestfile.cmake
unittest/my_decimal/Makefile
unittest/my_decimal/cmake_install.cmake
unittest/my_decimal/my_decimal-t
unittest/mysys/CMakeFiles/*
unittest/mysys/CTestTestfile.cmake
unittest/mysys/Makefile
unittest/mysys/aes-t
unittest/mysys/base64-t
unittest/mysys/bitmap-t
unittest/mysys/byte_order-t
unittest/mysys/cmake_install.cmake
unittest/mysys/dynstring-t
unittest/mysys/lf-t
unittest/mysys/ma_dyncol-t
unittest/mysys/my_atomic-t
unittest/mysys/my_getopt-t
unittest/mysys/my_malloc-t
unittest/mysys/my_rdtsc-t
unittest/mysys/my_vsnprintf-t
unittest/mysys/queues-t
unittest/mysys/stacktrace-t
unittest/mytap/CMakeFiles/*
unittest/mytap/CTestTestfile.cmake
unittest/mytap/Makefile
unittest/mytap/cmake_install.cmake
unittest/mytap/libmytap.a
unittest/strings/CMakeFiles/*
unittest/strings/CTestTestfile.cmake
unittest/strings/Makefile
unittest/strings/cmake_install.cmake
unittest/strings/json-t
unittest/strings/strings-t
vio/CMakeFiles/*
vio/CTestTestfile.cmake
vio/Makefile
vio/cmake_install.cmake
vio/libvio.a

